@page "{id}"
@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Models
@inject JsonFileProductService ProductService
@model ReadModel

@{
    ViewData["Title"] = "Read page";
}

<h1>Read</h1>

<div class="container">
    <h5 class="title" id="productTitle">@Model.Item.Title</h5>
    <img class="card-img" src='@Model.Item.Image' alt='Image for @Model.Item.Title' />
    <p class="card-text">@Model.Item.Description</p>
</div>

<br />
<br />

<div class="row">
    <a asp-page="Update" asp-route-id="@Model.Item.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
    <a asp-page="Delete" asp-route-id="@Model.Item.Id" class="btn btn-danger">Delete</a>
</div>
